extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/register.css')

block scripts
  script(src='/javascripts/register.js')

block title
  |  - 登録

block content
  #register.container
    include search
    include loader
    include error
    include result