doctype html
html
  head
    meta(name='viewport', content='width=device-width, user-scalable=no')
    title
      | CbDオールスター感謝祭
      block title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block styles
    script(src='/jquery/jquery.min.js')
    script(src='/jquery-ui/jquery-ui.min.js')
    // script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/socketio/socket.io-client/socket.io.js')
    script(src='/javascripts/main.js')
    block scripts
  body
    block content
